<h1 class="Heading">Who is on the ISS? 🛰️</h1>
<div class="Container">
    <table>
        <tr>
            <th>Craft</th>
            <th>Astronaut</th>
        </tr>
        <tr>
            <td><%= data['people'][0]['craft'] %></td>
            <td><%= data['people'][0]['name'] %></td>
        </tr>
        <tr>
            <td><%= data['people'][1]['craft'] %></td>
            <td><%= data['people'][1]['name'] %></td>
        </tr>
        <tr>
            <td><%= data['people'][2]['craft'] %></td>
            <td><%= data['people'][2]['name'] %></td>
        </tr>
        <tr>
            <td><%= data['people'][3]['craft'] %></td>
            <td><%= data['people'][3]['name'] %></td>
        </tr>
        <tr>
            <td><%= data['people'][4]['craft'] %></td>
            <td><%= data['people'][4]['name'] %></td>
        </tr>
        <tr>
            <td><%= data['people'][5]['craft'] %></td>
            <td><%= data['people'][5]['name'] %></td>
        </tr>
        <tr>
            <td><%= data['people'][6]['craft'] %></td>
            <td><%= data['people'][6]['name'] %></td>
        </tr>
        <tr>
            <td><%= data['people'][7]['craft'] %></td>
            <td><%= data['people'][7]['name'] %></td>
        </tr>
        <tr>
            <td><%= data['people'][8]['craft'] %></td>
            <td><%= data['people'][8]['name'] %></td>
        </tr>
        <tr>
            <td><%= data['people'][9]['craft'] %></td>
            <td><%= data['people'][9]['name'] %></td>
        </tr>
    </table>
</div>

<p class="Home-link"><a href='/'>Home </a></p>

